streamlit==1.24.0
scikit-learn==1.2.2
pandas==1.5.3
numpy==1.23.5
plotly==5.14.1
missingno==0.5.2
seaborn==0.12.2
matplotlib==3.7.1
fastapi==0.95.2
uvicorn==0.22.0
scipy==1.10.1
anthropic==0.3.2
langchain==0.0.208
langchain-anthropic==0.1.1
pydantic==1.10.8